<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="profile.component.css">
</head>
<body>
    <div class="main">
    
    <h1>View all Profiles</h1>
    <hr>
    
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')">Show all Profiles</button>
      <button class="btn" onclick="filterSelection('IT')"> IT</button>
      <button class="btn" onclick="filterSelection('Engineering')"> Engineering</button>
      <button class="btn" onclick="filterSelection('Tutors')">Profiles of Tutors</button>
    </div>
    
    <div class="row">
      <div class="column IT">
        <div class="content">
          <img src="Image/S1.jpg" alt="Mountains" style="width:90%">
          <h4>Puranjan Thapa</h4>
          <p>Studying in Softwerica College</p>
          <p>Contact: Adikthapa01@gmail.com</p>
        </div>
      </div>
      <div class="column IT">
        <div class="content">
        <img src="Image/S2.jpg" alt="Lights" style="width:70%">
          <h4>Srizes Dhakal</h4>
          <p>Studying in ISMT College</p>
          <p>Contact: Srizes234@gmail.com</p>
        </div>
      </div>
      <div class="column IT">
        <div class="content">
        <img src="Image/S3.jpg" alt="Nature" style="width:70%">
          <h4>Milan Singh</h4>
          <p>Studying in PCPS</p>
          <p>Contact: Singhmilan800@gmail.com</p>
        </div>
      </div>
      
      <div class="column Engineering">
        <div class="content">
          <img src="Image/E1.jpg" alt="Car" style="width:70%">
          <h4>Amrit Adhikari</h4>
          <p>Studying in Kantipur Engineering College</p>
          <p>Contact: Amrit07@gmail.com</p>
        </div>
      </div>
      <div class="column Engineering">
        <div class="content">
        <img src="Image/E2.jpg" alt="Car" style="width:70%">
          <h4>Rupesh Khatri</h4>
          <p>Studying in Kathmandu Engineering College</p>
          <p>Contact: Rupesh123@gmail.com</p>
        </div>
      </div>
      <div class="column Engineering">
        <div class="content">
        <img src="Image/E3.jpg" alt="Car" style="width:70%">
          <h4>Sandip Karki</h4>
          <p>Studying in Thapathali Engineering College</p>
          <p>Contact: ksandeep123@gmail.com</p>
        </div>
      </div>
    
      <div class="column Tutors">
        <div class="content">
          <img src="Image/1.jpg" alt="Car" style="width:80%">
          <h4>Conor Mcgregor</h4>
          <p>Subject: Civil Engineering</p>
          <p>Qualification: Masters in Civil Engineering</p>
          <p>Contact: CMcgregor1@gmail.com</p>
        </div>
      </div>
      <div class="column Tutors">
        <div class="content">
        <img src="Image/4.jpg" alt="Car" style="width:70%">
          <h4>Nischal Karki</h4>
          <p>Subject: Mechanical Engineering</p>
          <p>Qualification: Masters in Mechanical Engineering</p>
          <p>Contact: Knischal97@gmail.com</p>
        </div>
      </div>
      <div class="column  Tutors">
        <div class="content">
        <img src="Image/3.jpg" alt="Car" style="width:80%">
          <h4>Himal Thapa</h4>
          <p>Subject: Networking</p>
          <p>Qualification: Masters in Networking</p>
          <p>Contact:himalthapa1998@gmail.com</p>
        </div>
      </div>
    </div>
    
    </div>
    <script>
        filterSelection("all")
        function filterSelection(c) {
          var x, i;
          x = document.getElementsByClassName("column");
          if (c == "all") c = "";
          for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
          }
        }
        
        function w3AddClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
          }
        }
        
        function w3RemoveClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
              arr1.splice(arr1.indexOf(arr2[i]), 1);     
            }
          }
          element.className = arr1.join(" ");
        }
        
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }
        </script>
    </body>
    </html>